.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.header-container div {
    background-color: #4173b17f;
    padding: .7em;
    border-radius: 5px;
}